<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="logBase" value="stock_log" />

	<!-- 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- 格式化输出 -->
			<pattern>%d{HH:mm:ss} %-5level %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 每天生成日志文件 -->
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 日志文件输出的文件名 -->
			<fileNamePattern>${logBase}/stock.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 日志文件保留天数 -->
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder>
			<!-- 格式化输出 -->
			<pattern>%d{HH:mm:ss} %-5level %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.github.tx.stock" level="INFO" />

	<root level="WARN">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>